.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.image-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.matching-image {
  margin-top: 40px;
  width: 40%;
}
.tabs-container {
  width: 400px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.thumbnail-list-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
}
